/* reset */
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td{margin:0;padding:0;}
html{height:100%;margin-bottom:1px;}
body{position:relative;}

/* links */
a{color:blue;text-decoration:none;}
a:hover{text-decoration:underline;}

body{background:#FFF url(../images/page_bg.png) 50% 0 repeat-x;font-family:Helvetica,Arial,sans-serif;color:#282828;font-size:13px;behavior:url("../css/csshover.htc");}
div.rapidxwpr{margin:auto;width:960px;}
div#header{position:relative;height:73px;margin:0px 0px 15px 0px;}
span#logo, img#logo{position:absolute;top:15px;left:0px;width:200px;height:44px;border:0;}

#greeting {float:right; text-align: right;margin-top: 3px;font-size:11px;color: white;}
#greeting a{text-decoration: underline;color: white; font-weight: bold;}

/* main body*/
div#middle{width:auto;margin:0px 0px 0px 0px;clear:both;border:#C6C6C6 1px solid;padding:15px;min-height: 400px;height:auto !important;height: 400px;}

div#right{width:277px;padding:0px 0px 0px 18px;float:right;}
div#left{float: left;width: 630px; margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}

/* clearing & floating */
.clearingfix:after{content:".";display:block;line-height:0px;clear:both;visibility:hidden;}
.clearingfix{display:block;}
.floatbox{overflow:hidden;}

/* alignments */
.alignleft{float:left;margin:0 20px 0 0;}
.alignright{float:right;margin:0 0 0 20px;}

/* topmenu */
div#topmenu{position:absolute;top:46px;right:0px;height:27px;}
div#topmenu ul{padding:0px;margin:0px;list-style:none;float:left;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;}
div#topmenu li{float:left;display:block;margin:0 0 0 6px;}
div#topmenu li a{float:left;display:block;position:relative;background:transparent url(../images/menu-r.png) 100% 0 no-repeat;height:27px;padding:0 5px 0 0;overflow:hidden;color:#202020;text-decoration:none;text-transform:uppercase;font-size:13px;font-weight:bold;line-height:27px;}
div#topmenu li a span{display:block;background:url(../images/menu-l.png) 0 0 no-repeat;padding:0 10px 0 15px;}
div#topmenu li a.active, div#topmenu li a:hover{background:url(../images/menu-r.png) 100% -28px no-repeat;text-decoration:none;}
div#topmenu li a.active span, div#topmenu li a:hover span{background:url(../images/menu-l.png) 0 -28px no-repeat;}

/* footer */
div#footer{width:auto;padding:5px 0px 20px 0px;clear:both;color:#fff;}
div.credits{float:right;margin:0 0px 0 0;font-size:12px;color:#747474;}


.box {background-color:#f9f9f9;border:1px solid;border-color:#00529B;padding:15px 10px 15px 10px;width:75%;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;}

.success {border: 1px solid;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;color: #4F8A10;background-color: #DFF2BF;background-image:url('../images/success.png');width: 55%;margin-left: auto;margin-right: auto;margin-top: 40px;}
.error {border: 1px solid;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;color: #D8000C;background-color: #FFBABA;background-image: url('../images/error.png');width: 55%;margin-left: auto;margin-right: auto;margin-top: 20px;margin-bottom: 20px;}
.warning {border: 1px solid;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;color: #9F6000;background-color: #FEEFB3;background-image: url('../images/warning.png');width: 55%;margin-left: auto;margin-right: auto;margin-top: 20px;margin-bottom: 20px;}

.clear{height:1px;clear:both;}
.centeredTable{ margin-left: auto;margin-right: auto;text-align: left;}
img { border: none; }
h1{font-size:180%}
h1{background-color:#e5ecf9;border-top:1px solid #36c;padding-left:5px;margin-left:auto;margin-right:auto;margin-bottom:20px;margin-top:0px;}
.note{margin-bottom:10px;margin-top:10px;margin-left:auto;margin-right:auto;padding:.2em .5em .2em .9em;background-color:#efefef;border-top:1px solid;border-bottom:1px solid;width:85%;}

th{text-align: left}
th.vertical{text-align: left;vertical-align:top;}
td{vertical-align:bottom;}
label{font-weight:bold}


table.stripe{border-collapse:collapse; width:100%; border:2px solid #3e83c9}
.stripe th{background:#3e83c9; color:#fff; font-weight:bold; padding:2px 5px; text-align:left; border-right:1px solid #fff; line-height:1.2}
.stripe td{background:#fff; padding:5px; border-bottom:1px solid #95bce2; vertical-align:top}
.stripe tr.alt td{background:#ecf6fc}


/* auto complete */
.ac_results {padding: 0px;border: 1px solid black;background-color: white;overflow: hidden;z-index: 99999;}
.ac_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.ac_results li {margin: 0px;padding: 2px 5px;cursor: default;display: block;font: menu;font-size: 12px;line-height: 16px;overflow: hidden;}
.ac_loading {background: white url('../images/indicator.gif') right center no-repeat;}
.ac_odd {background-color: #eee;}
.ac_over {background-color: #0A246A; color: white;}

label.invalid { float: none; color: red; padding-left: .5em; vertical-align: top; }
